strict-ssl=false
@asurion:registry=https://artifactory.asurion.com/artifactory/api/npm/npm/
@tas:registry=https://artifactory.asurion.com/artifactory/api/npm/npm/
@backoffice:registry=https://artifactory.asurion.com/artifactory/api/npm/npm/